
.navbar {
    overflow: hidden;
    background-color: #f3e40d;
    position: fixed; /*set the navbar to a fixed position */
    top: 0; /*position nabar at top of page*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
}

.navbar ul { /*spreads list items along the top*/
    display: flex;
}

.navbar ul li { /*changes default dots above links into red lines above links*/
    position: relative;
    list-style-type: none;
    margin: 0 15px;
    font-size: 20px;
    font-family: helvetica;
}

.navbar ul li:after { /* forms/style the red lines*/
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #C92C6D;
    height: 3px;
    width: 100%;
    transition: 0.4s;
}

.navbar ul li:hover:after { /*red line drop animation */
    top: 25px;
}

.navbar ul li:hover { /*red line drop animation */
    color: magenta;
    transition: 0.4s;
}

/* Main content */
.main {
    margin-top: 30px;
    /* Add a top margin to avoid content overlay */
}
/* Heading Glow code starts from here */


.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.card:hover {
    border: 2px solid #FFD700;
    transform: translate(-5px, -5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


#card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, #00f, #0f0, #f00, #0f0, #00f);
    background-size: 400%;
    opacity: 0.8;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

#card:hover::before {
    opacity: 1;
    background-position: 100%;
}

.content {
    display: grid;
    place-items: center;
    height: 80vh;
}

.content p {
    color: #fff;
    font-size: 24px;
    font-family: helvetica, sans-serif;
    align-items: center;
}